<article class="container">
  <div class="title">
      <p class="mb-0">
        <span class="fw-bold">{{user.username}}</span>
        <span class="meta fst-italic"> - {{format_date created_at}}</span>
      </p>
      <span>{{comment_text}}</span>
  </div>
</article>